<title>Shopping Cart</title>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SHOPPING CART</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Wishlist
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">list 1</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Create</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart ">Cart <span class="badge badge-warning" id="Cart-Count">{{cartCount}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/order">Order</a>
                </li>
            {{/if}}
            </ul>
             <form class="form-inline mr-3">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
            <div class="dropdown">
                <button style="border-radius: 100%;" class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#if user}}
                        {{user.name}}
                    {{else}}
                        Account
                    {{/if}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{#if user}}
                        <a class="dropdown-item" href="/logout">Log Out</a>
                    {{else}}
                        <a class="dropdown-item" href="/signup">Sign In</a>
                        <a class="dropdown-item" href="/login">Log In</a>
                    {{/if}}
                    
                </div>
            </div>

        </div>
    </nav>
</header>